In [13]:
from googleapiclient.discovery import build
import pymongo


#API key connection
def Api_connect():
    Api_Id="AIzaSyBMUD52Jov6a1LBkSCvZvyay4Ih0-7GPPk"

    api_service_name = "youtube"
    api_version = "v3"
    youtube = build(api_service_name,api_version,developerKey=Api_Id)
    return youtube

youtube=Api_connect()

#get channel information
def get_channel_info(channel_id):
    
    request = youtube.channels().list(
                part = "snippet,contentDetails,Statistics",
                id = channel_id)
            
    response1=request.execute()

    for i in range(0,len(response1["items"])):
        data = dict(
                    Channel_Name = response1["items"][i]["snippet"]["title"],
                    Channel_Id = response1["items"][i]["id"],
                    Subscription_Count= response1["items"][i]["statistics"]["subscriberCount"],
                    Views = response1["items"][i]["statistics"]["viewCount"],
                    Total_Videos = response1["items"][i]["statistics"]["videoCount"],
                    Channel_Description = response1["items"][i]["snippet"]["description"],
                    Playlist_Id = response1["items"][i]["contentDetails"]["relatedPlaylists"]["uploads"],
                    )
        return data



#get playlist ids
def get_playlist_info(channel_id):
    All_data = []
    next_page_token = None
    next_page = True
    while next_page:

        request = youtube.playlists().list(
            part="snippet,contentDetails",
            channelId=channel_id,
            maxResults=50,
            pageToken=next_page_token
            )
        response = request.execute()

        for item in response['items']: 
            data={'PlaylistId':item['id'],
                    'Title':item['snippet']['title'],
                    'ChannelId':item['snippet']['channelId'],
                    'ChannelName':item['snippet']['channelTitle'],
                    'PublishedAt':item['snippet']['publishedAt'],
                    'VideoCount':item['contentDetails']['itemCount']}
            All_data.append(data)
        next_page_token = response.get('nextPageToken')
        if next_page_token is None:
            next_page=False
    return All_data
    
#get video ids
def get_channel_videos(channel_id):
    video_ids = []
    # get Uploads playlist id
    res = youtube.channels().list(id=channel_id, 
                                  part='contentDetails').execute()
    playlist_id = res['items'][0]['contentDetails']['relatedPlaylists']['uploads']
    next_page_token = None
    
    while True:
        res = youtube.playlistItems().list( 
                                           part = 'snippet',
                                           playlistId = playlist_id, 
                                           maxResults = 50,
                                           pageToken = next_page_token).execute()
        
        for i in range(len(res['items'])):
            video_ids.append(res['items'][i]['snippet']['resourceId']['videoId'])
        next_page_token = res.get('nextPageToken')
        
        if next_page_token is None:
            break
    return video_ids

#get video information
def get_video_info(video_ids):

    video_data = []

    for video_id in video_ids:
        request = youtube.videos().list(
                    part="snippet,contentDetails,statistics",
                    id= video_id)
        response = request.execute()

        for item in response["items"]:
            data = dict(Channel_Name = item['snippet']['channelTitle'],
                        Channel_Id = item['snippet']['channelId'],
                        Video_Id = item['id'],
                        Title = item['snippet']['title'],
                        Tags = item['snippet'].get('tags'),
                        Thumbnail = item['snippet']['thumbnails']['default']['url'],
                        Description = item['snippet']['description'],
                        Published_Date = item['snippet']['publishedAt'],
                        Duration = item['contentDetails']['duration'],
                        Views = item['statistics']['viewCount'],
                        Likes = item['statistics'].get('likeCount'),
                         Comments = item['statistics'].get('commentCount'),
                        Favorite_Count = item['statistics']['favoriteCount'],
                        Definition = item['contentDetails']['definition'],
                        Caption_Status = item['contentDetails']['caption']
                        )
            video_data.append(data)
    return video_data

#get comment information
def get_comment_info(video_ids):
        Comment_Information = []
        try:
                for video_id in video_ids:

                        request = youtube.commentThreads().list(
                                part = "snippet",
                                videoId = video_id,
                                maxResults = 50
                                )
                        response5 = request.execute()
                        
                        for item in response5["items"]:
                                comment_information = dict(
                                        Comment_Id = item["snippet"]["topLevelComment"]["id"],
                                        Video_Id = item["snippet"]["videoId"],
                                        Comment_Text = item["snippet"]["topLevelComment"]["snippet"]["textOriginal"],
                                        Comment_Author = item["snippet"]["topLevelComment"]["snippet"]["authorDisplayName"],
                                        Comment_Published = item["snippet"]["topLevelComment"]["snippet"]["publishedAt"])

                                Comment_Information.append(comment_information)
        except:
                pass
                
        return Comment_Information

In [2]:
client = pymongo.MongoClient("mongodb://localhost:27017")
db = client["Youtube_data"]

In [14]:
def channel_details(channel_id):
    ch_details = get_channel_info(channel_id)
    pl_details = get_playlist_info(channel_id)
    vi_ids = get_channel_videos(channel_id)
    vi_details = get_video_info(vi_ids)
    com_details = get_comment_info(vi_ids)

    coll1 = db["channel_details"]
    coll1.insert_one({"channel_information":ch_details,"playlist_information":pl_details,"video_information":vi_details,
                     "comment_information":com_details})
    
    return "upload completed successfully"

In [22]:
insert=channel_details("UCNU_lfiiWBdtULKOw6X0Dig")

In [30]:
insert=channel_details("UCmpIo1MVMCSyNaf1rRQS8RA")

In [48]:
insert=channel_details("UCpPOf9BQPwa4K11Zjxu1ZPw")

In [15]:
insert=channel_details("UCJcCB-QYPIBcbKcBQOTwhiA")

In [74]:
insert=channel_details("UC4o8Fdpv3g_AjgShAeivqpA")

In [75]:
insert=channel_details("UCduIoIMfD8tT3KoU0-zBRgQ")

In [4]:
insert=channel_details("UC5EQWvy59VeHPJz8mDALPxg")

In [5]:
insert=channel_details("UCiT9RITQ9PW6BhXK0y2jaeg")

In [6]:
insert=channel_details("UCEBpSZhI1X8WaP-kY_2LLcg")

In [7]:
insert=channel_details("UCh9nVJoWXmFb7sLApWGcLPQ")

In [15]:
import pandas as pd

In [16]:
import psycopg2

In [17]:
import pandas as pd

In [18]:

    
mydb = psycopg2.connect(host="localhost",
        user="postgres",
        password="nithiv1201",
        database= "youtube_data",
        port = "5432"
        )
cursor = mydb.cursor()


create_query = '''create table if not exists channels(Channel_Name varchar(100),
                    Channel_Id varchar(80) primary key, 
                    Subscription_Count bigint, 
                    Views bigint,
                    Total_Videos int,
                    Channel_Description text,
                    Playlist_Id varchar(50))'''
cursor.execute(create_query)
mydb.commit()

drop_query = "drop table if exists playlists"
cursor.execute(drop_query)
mydb.commit()

    

ch_list = []
db = client["Youtube_data"]
coll1 = db["channel_details"]
for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
    ch_list.append(ch_data["channel_information"])
df = pd.DataFrame(ch_list)

for index,row in df.iterrows():
    insert_query = '''INSERT into channels(Channel_Name,
                                                Channel_Id,
                                                Subscription_Count,
                                                Views,
                                                Total_Videos,
                                                Channel_Description,
                                                Playlist_Id)
                                    VALUES(%s,%s,%s,%s,%s,%s,%s)'''
        

    values =(
            row['Channel_Name'],
            row['Channel_Id'],
            row['Subscription_Count'],
            row['Views'],
            row['Total_Videos'],
            row['Channel_Description'],
            row['Playlist_Id'])
                        
    cursor.execute(insert_query,values)
    mydb.commit()

In [26]:

mydb = psycopg2.connect(host="localhost",
        user="postgres",
        password="nithiv1201",
        database= "youtube_data",
        port = "5432"
        )
cursor = mydb.cursor()

drop_query = "drop table if exists playlists"
cursor.execute(drop_query)
mydb.commit()


create_query = '''create table if not exists playlists(PlaylistId varchar(100) primary key,
                Title varchar(80), 
                ChannelId varchar(100), 
                ChannelName varchar(100),
                PublishedAt timestamp,
                VideoCount int
                )'''
cursor.execute(create_query)
mydb.commit()



db = client["Youtube_data"]
coll1 =db["channel_details"]
pl_list = []
for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
                pl_list.append(pl_data["playlist_information"][i])
df1 = pd.DataFrame(pl_list)

for index,row in df1.iterrows():
        insert_query = '''INSERT into playlists(PlaylistId,
                                                Title,
                                                ChannelId,
                                                ChannelName,
                                                PublishedAt,
                                                VideoCount)
                                VALUES(%s,%s,%s,%s,%s,%s)'''            
values =(
        row['PlaylistId'],
        row['Title'],
        row['ChannelId'],
        row['ChannelName'],
        row['PublishedAt'],
        row['VideoCount'])
        
                
cursor.execute(insert_query,values)
mydb.commit()

In [23]:
df1

,PlaylistId,Title,ChannelId,ChannelName,PublishedAt,VideoCount
0,PLZoTAELRMXVNbDmGZlcgCA3a8mRQp5axb,Google Gemini,UCNU_lfiiWBdtULKOw6X0Dig,Krish Naik,2023-12-22T10:12:30Z,10
1,PLZoTAELRMXVNjHiatX-QbDCqOx2GNoYE7,AI Recent News,UCNU_lfiiWBdtULKOw6X0Dig,Krish Naik,2023-12-04T06:17:32Z,1
2,PLZoTAELRMXVO3gDYhbHFyFDesgLDoO5T-,Data Science Transition Story 2023,UCNU_lfiiWBdtULKOw6X0Dig,Krish Naik,2023-08-22T05:38:54Z,6
3,PLZoTAELRMXVMTWGW9iS45ZTcMsntos6VO,OPENAI API,UCNU_lfiiWBdtULKOw6X0Dig,Krish Naik,2023-06-30T13:08:24Z,2
4,PLZoTAELRMXVOjQdyqlCmOtq1nZnSsWvag,End To End Data Science Projects 2023,UCNU_lfiiWBdtULKOw6X0Dig,Krish Naik,2023-06-24T07:16:06Z,5
...,...,...,...,...,...,...
509,PLeo1K3hjS3usJuxZZUBdjAcilgfQHkRzW,Git/Github Tutorial,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2016-07-10T21:47:16Z,10
510,PLeo1K3hjS3uub3PRhdoCTY8BxMKSW7RjN,Python Multithreading/Multiprocessing,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2016-06-19T22:31:05Z,7
511,PLeo1K3hjS3uu-0i4uha0_lZwh5PpIWB1T,Debugging Tips For Beginners,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2016-05-28T19:06:25Z,3
512,PLeo1K3hjS3utXiAr1FqrssqNU1Q0ai84x,Python Object Oriented Programming Tutorial,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2016-04-09T13:46:51Z,6
513,PLeo1K3hjS3uvHr7N7j3GcMj48SdiTa_19,Julia Programming Tutorial,UCh9nVJoWXmFb7sLApWGcLPQ,codebasics,2016-02-13T20:19:52Z,12

In [28]:

mydb = psycopg2.connect(host="localhost",
        user="postgres",
        password="nithiv1201",
        database= "youtube_data",
        port = "5432"
        )
cursor = mydb.cursor()

drop_query = "drop table if exists playlists"
cursor.execute(drop_query)
mydb.commit()


create_query = '''create table if not exists playlists(PlaylistId varchar(100) primary key,
                    Title varchar(200), 
                    ChannelId varchar(100), 
                    ChannelName varchar(100),
                    PublishedAt timestamp,
                    VideoCount int
                    )'''
cursor.execute(create_query)
mydb.commit()
    


db = client["Youtube_data"]
coll1 =db["channel_details"]
pl_list = []
for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
    for i in range(len(pl_data["playlist_information"])):
            pl_list.append(pl_data["playlist_information"][i])
df1 = pd.DataFrame(pl_list)

for index,row in df1.iterrows():
    insert_query = '''INSERT into playlists(PlaylistId,
                                                Title,
                                                ChannelId,
                                                ChannelName,
                                                PublishedAt,
                                                VideoCount)
                                    VALUES(%s,%s,%s,%s,%s,%s)'''            
    values =(
            row['PlaylistId'],
            row['Title'],
            row['ChannelId'],
            row['ChannelName'],
            row['PublishedAt'],
            row['VideoCount'])
            
                    
    cursor.execute(insert_query,values)
    mydb.commit()

In [24]:


mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithiv1201",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()



create_query = '''create table if not exists videos(
                    Channel_Name varchar(150),
                    Channel_Id varchar(100),
                    Video_Id varchar(50) primary key, 
                    Title varchar(150), 
                    Tags text,
                    Thumbnail varchar(225),
                    Description text, 
                    Published_Date timestamp,
                    Duration interval, 
                    Views bigint, 
                    Likes bigint,
                    Comments int,
                    Favorite_Count int, 
                    Definition varchar(10), 
                    Caption_Status varchar(50) 
                    )''' 
                    
cursor.execute(create_query)             
mydb.commit()


vi_list = []
db = client["Youtube_data"]
coll1 = db["channel_details"]
for vi_data in coll1.find({},{"_id":0,"video_information":1}):
    for i in range(len(vi_data["video_information"])):
        vi_list.append(vi_data["video_information"][i])
df2 = pd.DataFrame(vi_list)
    

for index, row in df2.iterrows():
    insert_query = '''
                INSERT INTO videos (Channel_Name,
                    Channel_Id,
                    Video_Id, 
                    Title, 
                    Tags,
                    Thumbnail,
                    Description, 
                    Published_Date,
                    Duration, 
                    Views, 
                    Likes,
                    Comments,
                    Favorite_Count, 
                    Definition, 
                    Caption_Status 
                    )
                VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)

            ''' 
    values = (
                row['Channel_Name'],
                row['Channel_Id'],
                row['Video_Id'],
                row['Title'],
                row['Tags'],
                row['Thumbnail'],
                row['Description'],
                row['Published_Date'],
                row['Duration'],
                row['Views'],
                row['Likes'],
                row['Comments'],
                row['Favorite_Count'],
                row['Definition'],
                row['Caption_Status'])
                    
    cursor.execute(insert_query,values)             
    mydb.commit()

In [25]:

mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithiv1201",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()

drop_query = "drop table if exists comments"
cursor.execute(drop_query)
mydb.commit()

create_query = '''CREATE TABLE if not exists comments(Comment_Id varchar(100) primary key,
                Video_Id varchar(80),
                Comment_Text text, 
                Comment_Author varchar(150),
                Comment_Published timestamp)'''
cursor.execute(create_query)
mydb.commit()

com_list = []
db = client["Youtube_data"]
coll1 = db["channel_details"]
for com_data in coll1.find({},{"_id":0,"comment_information":1}):
    for i in range(len(com_data["comment_information"])):
        com_list.append(com_data["comment_information"][i])
df3 = pd.DataFrame(com_list)

for index, row in df3.iterrows():
        insert_query = '''
            INSERT INTO comments (Comment_Id,
                                    Video_Id ,
                                    Comment_Text,
                                    Comment_Author,
                                    Comment_Published)
            VALUES (%s, %s, %s, %s, %s)

        '''
        values = (
            row['Comment_Id'],
            row['Video_Id'],
            row['Comment_Text'],
            row['Comment_Author'],
            row['Comment_Published']
        )

        
        cursor.execute(insert_query,values)
        mydb.commit()

In [51]:
def tables():
    channels_table()
    playlists_table()
    videos_table()
    comments_table()
    return "Tables Created successfully"

In [61]:
Tables=tables()

In [62]:
import streamlit as sl

In [69]:
def show_channels_table():
    ch_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for ch_data in coll1.find({},{"_id":0,"channel_information":1}):
        ch_list.append(ch_data["channel_information"])
    df = sl.dataframe(ch_list)

    return df

In [71]:
def show_playlists_table():
    db = client["Youtube_data"]
    coll1 =db["channel_details"]
    pl_list = []
    for pl_data in coll1.find({},{"_id":0,"playlist_information":1}):
        for i in range(len(pl_data["playlist_information"])):
                pl_list.append(pl_data["playlist_information"][i])
    df1 = sl.dataframe(pl_list)

    return df1

In [72]:
def show_videos_table():
    vi_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for vi_data in coll1.find({},{"_id":0,"video_information":1}):
            for i in range(len(vi_data["video_information"])):
                vi_list.append(vi_data["video_information"][i])
    df2 = sl.dataframe(vi_list)

    return df2

In [73]:
def show_comments_table():
    com_list = []
    db = client["Youtube_data"]
    coll1 = db["channel_details"]
    for com_data in coll1.find({},{"_id":0,"comment_information":1}):
        for i in range(len(com_data["comment_information"])):
            com_list.append(com_data["comment_information"][i])
    df3 = sl.dataframe(com_list)

    return df3

In [36]:
mydb = psycopg2.connect(host="localhost",
            user="postgres",
            password="nithiv1201",
            database= "youtube_data",
            port = "5432"
            )
cursor = mydb.cursor()
if  question == '1. What are the names of all the videos and their corresponding channels':
    query1 = "select Title as videos, Channel_Name as ChannelName from videos;"
    cursor.execute(query1)
    mydb.commit()
    t1=cursor.fetchall()
    df=(pd.DataFrame(t1, columns=["Video Title","Channel Name"]))
    sl.write(df)

elif question =='2. Which channels have the most number of videos, and how many videos do they have?':
    query2 = "select Channel_Name as ChannelName,Total_Videos as NO_Videos from channels order by Total_Videos desc;"
    cursor.execute(query2)
    mydb.commit()
    t2=cursor.fetchall()
    df2=pd.DataFrame(t2, columns=["Channel Name","No Of Videos"])
    sl.write(df2)

elif question== '3. What are the top 10 most viewed videos and their respective channels?':
    query3 = '''select Views as views , Channel_Name as ChannelName,Title as VideoTitle from videos 
                        where Views is not null order by Views desc limit 10;'''
    cursor.execute(query3)
    mydb.commit()
    t3 = cursor.fetchall()
    df3=pd.DataFrame(t3, columns = ["views","channel Name","video title"])
    sl.write(df3)

elif question == '4. How many comments were made on each video, and what are their corresponding video names?':
    query4 = "select Comments as No_comments ,Title as VideoTitle from videos where Comments is not null;"
    cursor.execute(query4)
    mydb.commit()
    t4=cursor.fetchall()
    df4=pd.DataFrame(t4, columns=["No Of Comments", "Video Title"])
    sl.write(df4)

elif question == '5. Which videos have the highest number of likes, and what are their corresponding channel names?':
    query5 = '''select Title as VideoTitle, Channel_Name as ChannelName, Likes as LikesCount from videos 
                        where Likes is not null order by Likes desc;'''
    cursor.execute(query5)
    mydb.commit()
    t5 = cursor.fetchall()
    df5=(pd.DataFrame(t5, columns=["video Title","channel Name","like count"]))
    sl.write(df5)

elif question == '6. What is the total number of likes and dislikes for each video, and what are their corresponding video names?':
    query6 = '''select Likes as likeCount,Title as VideoTitle from videos;'''
    cursor.execute(query6)
    mydb.commit()
    t6 = cursor.fetchall()
    df6=pd.DataFrame(t6, columns=["like count","video title"])
    sl.write(df6)

elif question == '7. What is the total number of views for each channel, and what are their corresponding channel names?':
    query7 = "select Channel_Name as ChannelName, Views as Channelviews from channels;"
    cursor.execute(query7)
    mydb.commit()
    t7=cursor.fetchall()
    df7=pd.DataFrame(t7, columns=["channel name","total views"])
    sl.write(df7)

elif question == '8. What are the names of all the channels that have published videos in the year 2022?':
    query8 = '''select Title as Video_Title, Published_Date as VideoRelease, Channel_Name as ChannelName from videos 
                where extract(year from Published_Date) = 2022;'''
    cursor.execute(query8)
    mydb.commit()
    t8=cursor.fetchall()
    df8=(pd.DataFrame(t8,columns=["Name", "Video Publised On", "ChannelName"]))
    sl.write(df8)

elif question == '9. What is the average duration of all videos in each channel, and what are their corresponding channel names?':
    query9 =  "SELECT Channel_Name as ChannelName, AVG(Duration) AS average_duration FROM videos GROUP BY Channel_Name;"
    cursor.execute(query9)
    mydb.commit()
    t9=cursor.fetchall()
    t9 = pd.DataFrame(t9, columns=['ChannelTitle', 'Average Duration'])
    T9=[]
    for index, row in t9.iterrows():
        channel_title = row['ChannelTitle']
        average_duration = row['Average Duration']
        average_duration_str = str(average_duration)
        T9.append({"Channel Title": channel_title ,  "Average Duration": average_duration_str})
    df1=pd.DataFrame(T9)
    sl.write(df1)


elif question == '10. Which videos have the highest number of comments, and what are their corresponding channel names?':
    query10 = '''select Title as VideoTitle, Channel_Name as ChannelName, Comments as Comments from videos 
                        where Comments is not null order by Comments desc;'''
    cursor.execute(query10)
    mydb.commit()
    t10=cursor.fetchall()
    df10=pd.DataFrame(t10, columns=['Video Title', 'Channel Name', 'NO Of Comments'])
    sl.write(df10)

NameError: name 'question' is not defined

In [30]:
df

                                            Video Title Channel Name
0     A Python Package that makes Data Science 10x F...   Krish Naik
1           Is Machine Learning Still Relevant in 2024?   Krish Naik
2     Modified End To End Resume ATS Tracking LLM Pr...   Krish Naik
3     Not Getting Any Interview Calls?-Avoid These M...   Krish Naik
4     Different Ways Of Creating Python Environment ...   Krish Naik
...                                                 ...          ...
7870                         Python Tutorial - 5. Lists   codebasics
7871                       Python Tutorial - 4. Strings   codebasics
7872                       Python Tutorial - 3. Numbers   codebasics
7873                     Python Tutorial - 2. Variables   codebasics
7874     Python Tutorial - 1. Install python on windows   codebasics

[7875 rows x 2 columns]

In [33]:
if question=="Which channels have the most number of videos, and how many videos do they have?":
    query2 = "select Channel_Name as ChannelName,Total_Videos as NO_Videos from channels order by Total_Videos desc;"
    cursor.execute(query2)
    mydb.commit()
    t2=cursor.fetchall()
    df2=pd.DataFrame(t2, columns=["Channel Name","No Of Videos"])
    sl.write(df2)

NameError: name 'question' is not defined

In [32]:
df2

                 Channel Name  No Of Videos
0       Naresh i Technologies          2944
1                  Krish Naik          1789
2                        GUVI          1372
3                  codebasics           798
4                     Ken Jee           286
5            365 Data Science           223
6                     Mic Set           166
7                   Jump Cuts           124
8             Vj Siddhu Vlogs           121
9  Harsha Sai - For You Tamil           118

In [34]:
if question== "What are the top 10 most viewed videos and their respective channels?":
    query3 = '''select Views as views , Channel_Name as ChannelName,Title as VideoTitle from videos 
                        where Views is not null order by Views desc limit 10;'''
    cursor.execute(query3)
    mydb.commit()
    t3 = cursor.fetchall()
    df3=pd.DataFrame(t3, columns = ["views","channel Name","video title"])

In [35]:
df3

,views,channel Name,video title
0,63499327,Mic Set,Classroom Sothanaigal | After Lockdown | Micset
1,48205247,Harsha Sai - For You Tamil,சந்தோஷமாக ❤️❤️❤️❤️
2,40413033,Mic Set,Exam Sothanaigal 3 | Micset
3,31477788,Harsha Sai - For You Tamil,வாழ்க்கை அழகானது
4,29839217,Harsha Sai - For You Tamil,School girl became so emotional 🥺 #shorts
5,27109828,Mic Set,Hospital Sothanaigal | Micset
6,23713776,Harsha Sai - For You Tamil,for his sister hospital needs
7,23223508,Mic Set,Husband Sothanaigal 2 | Micset
8,23132637,Harsha Sai - For You Tamil,auto ride in Chennai🛺😍
9,21786568,Harsha Sai - For You Tamil,"Rs.50,000 rice grain🌾"

In [37]:
#question == '4. How many comments were made on each video, and what are their corresponding video names?':
query4 = "select Comments as No_comments ,Title as VideoTitle from videos where Comments is not null;"
cursor.execute(query4)
mydb.commit()
t4=cursor.fetchall()
df4=pd.DataFrame(t4, columns=["No Of Comments", "Video Title"])

In [38]:
df4

      No Of Comments                                        Video Title
0                 35  A Python Package that makes Data Science 10x F...
1                 61        Is Machine Learning Still Relevant in 2024?
2                 53  Modified End To End Resume ATS Tracking LLM Pr...
3                 78  Not Getting Any Interview Calls?-Avoid These M...
4                 30  Different Ways Of Creating Python Environment ...
...              ...                                                ...
7868              55                         Python Tutorial - 5. Lists
7869              28                       Python Tutorial - 4. Strings
7870              31                       Python Tutorial - 3. Numbers
7871              24                     Python Tutorial - 2. Variables
7872              16     Python Tutorial - 1. Install python on windows

[7873 rows x 2 columns]

In [39]:
#question == '5. Which videos have the highest number of likes, and what are their corresponding channel names?':
query5 = '''select Title as VideoTitle, Channel_Name as ChannelName, Likes as LikesCount from videos 
                    where Likes is not null order by Likes desc;'''
cursor.execute(query5)
mydb.commit()
t5 = cursor.fetchall()
df5=(pd.DataFrame(t5, columns=["video Title","channel Name","like count"]))

In [40]:
df5

,video Title,channel Name,like count
0,சந்தோஷமாக ❤️❤️❤️❤️,Harsha Sai - For You Tamil,4113802
1,வாழ்க்கை அழகானது,Harsha Sai - For You Tamil,2479040
2,School girl became so emotional 🥺 #shorts,Harsha Sai - For You Tamil,2457254
3,school boy became so emotional #shorts,Harsha Sai - For You Tamil,1946049
4,Children are a big blessing♥️🤱 #shorts,Harsha Sai - For You Tamil,1745194
...,...,...,...
7493,006 BootStrap Glyphicons,GUVI,0
7494,005 BootStrap Alerts,GUVI,0
7495,004 BootStrap Grid System,GUVI,0
7496,What is Database Eng,GUVI,0
7497,ArraysEnglish,GUVI,0

In [41]:
 #question == '6. What is the total number of likes and dislikes for each video, and what are their corresponding video names?':
query6 = '''select Likes as likeCount,Title as VideoTitle from videos;'''
cursor.execute(query6)
mydb.commit()
t6 = cursor.fetchall()
df6=pd.DataFrame(t6, columns=["like count","video title"])

In [42]:
df6

      like count                                        video title
0          603.0  A Python Package that makes Data Science 10x F...
1          794.0        Is Machine Learning Still Relevant in 2024?
2          318.0  Modified End To End Resume ATS Tracking LLM Pr...
3          997.0  Not Getting Any Interview Calls?-Avoid These M...
4          254.0  Different Ways Of Creating Python Environment ...
...          ...                                                ...
7870       318.0                         Python Tutorial - 5. Lists
7871       317.0                       Python Tutorial - 4. Strings
7872       322.0                       Python Tutorial - 3. Numbers
7873       333.0                     Python Tutorial - 2. Variables
7874       376.0     Python Tutorial - 1. Install python on windows

[7875 rows x 2 columns]

In [43]:
 #question == '7. What is the total number of views for each channel, and what are their corresponding channel names?':
query7 = "select Channel_Name as ChannelName, Views as Channelviews from channels;"
cursor.execute(query7)
mydb.commit()
t7=cursor.fetchall()
df7=pd.DataFrame(t7, columns=["channel name","total views"])

In [44]:
df7

                 channel name  total views
0                  Krish Naik     88648596
1  Harsha Sai - For You Tamil    943745023
2                   Jump Cuts    283777653
3             Vj Siddhu Vlogs    176926570
4       Naresh i Technologies    120876251
5                        GUVI      3677978
6                     Mic Set    616742994
7                     Ken Jee      8811330
8            365 Data Science     13742669
9                  codebasics     67275227

In [45]:
#question == '8. What are the names of all the channels that have published videos in the year 2022?':
query8 = '''select Title as Video_Title, Published_Date as VideoRelease, Channel_Name as ChannelName from videos 
            where extract(year from Published_Date) = 2022;'''
cursor.execute(query8)
mydb.commit()
t8=cursor.fetchall()
df8=(pd.DataFrame(t8,columns=["Name", "Video Publised On", "ChannelName"]))

In [46]:
df8

,Name,Video Publised On,ChannelName
0,This Is How We Teach In Ineuron: Introduction ...,2022-09-25 14:00:01,Krish Naik
1,Live Q&A-Ask Anything Related To Data Science,2022-09-22 17:08:35,Krish Naik
2,Data Science Industry Ready Project Course Ann...,2022-09-21 08:48:08,Krish Naik
3,30 Days Live Data Science Interview Preparatio...,2022-09-19 16:53:20,Krish Naik
4,Detailed Interview Process To Crack FAANG Comp...,2022-09-19 12:03:53,Krish Naik
...,...,...,...
690,Codebasics Coding Competition: 💥 𝐂𝐎𝐃𝐄-𝐀-𝐓𝐇𝐎𝐍 💥,2022-01-21 12:47:42,codebasics
691,Data Engineering Interview Tips By Airbnb Data...,2022-01-15 14:30:08,codebasics
692,Why I love Python?,2022-01-12 14:03:10,codebasics
693,Data Engineering Career Tips By Airbnb Data En...,2022-01-09 14:00:11,codebasics
694,Data Science Masters In USA - Live Q&A,2022-01-02 15:11:05,codebasics

In [48]:
query9 =  "SELECT Channel_Name as ChannelName, AVG(Duration) AS average_duration FROM videos GROUP BY Channel_Name;"
cursor.execute(query9)
mydb.commit()
t9=cursor.fetchall()
t9 = pd.DataFrame(t9, columns=['ChannelTitle', 'Average Duration'])
T9=[]
for index, row in t9.iterrows():
    channel_title = row['ChannelTitle']
    average_duration = row['Average Duration']
    average_duration_str = str(average_duration)
    T9.append({"Channel Title": channel_title ,  "Average Duration": average_duration_str})
df1=(pd.DataFrame(T9))

In [49]:
df1

                Channel Title        Average Duration
0            365 Data Science  0 days 00:08:31.789238
1                   Jump Cuts  0 days 00:07:22.528000
2                        GUVI  0 days 00:13:37.259286
3                  codebasics  0 days 00:15:06.320802
4                  Krish Naik  0 days 00:21:47.277164
5       Naresh i Technologies  0 days 00:28:38.874618
6             Vj Siddhu Vlogs  0 days 00:16:58.438017
7                     Ken Jee  0 days 00:13:59.216783
8  Harsha Sai - For You Tamil  0 days 00:03:00.847458
9                     Mic Set  0 days 00:04:16.365269

In [50]:
#elif question == '10. Which videos have the highest number of comments, and what are their corresponding channel names?':
query10 = '''select Title as VideoTitle, Channel_Name as ChannelName, Comments as Comments from videos 
                    where Comments is not null order by Comments desc;'''
cursor.execute(query10)
mydb.commit()
t10=cursor.fetchall()
df10=pd.DataFrame(t10, columns=['Video Title', 'Channel Name', 'NO Of Comments'])
df10

,Video Title,Channel Name,NO Of Comments
0,சந்தோஷமாக ❤️❤️❤️❤️,Harsha Sai - For You Tamil,35299
1,வாழ்க்கை அழகானது,Harsha Sai - For You Tamil,34567
2,Classroom Sothanaigal | After Lockdown | Micset,Mic Set,27572
3,fulfilling the drநான் 8 குடும்பங்களின் கனவுகளை...,Harsha Sai - For You Tamil,24265
4,School girl became so emotional 🥺 #shorts,Harsha Sai - For You Tamil,21843
...,...,...,...
7868,Webinar: How Entrepreneurs should leverage Fre...,GUVI,0
7869,StructureEnglish,GUVI,0
7870,Interpersonal Dynamics at Work | Nathan Philip...,GUVI,0
7871,GUVI-SRM:Students Project session,GUVI,0
7872,Top Projects for Web Developers | GUVI | #sho...,GUVI,0

In [ ]:
def Api_connect():
    Api_Id="AIzaSyBMUD52Jov6a1LBkSCvZvyay4Ih0-7GPPk"

    api_service_name = "youtube"
    api_version = "v3"
    youtube = build(api_service_name,api_version,developerKey=Api_Id)
    return youtube

youtube=Api_connect()

In [53]:
request=youtube.channels().list(    
                part="snippet,ContentDetails,statistics",
                id="UC5EQWvy59VeHPJz8mDALPxg"
)
response=request.execute()

In [54]:
response

{'kind': 'youtube#channelListResponse',
 'etag': 'sCnJDTlOlkYncxI_zwHSMarZ-vE',
 'pageInfo': {'totalResults': 1, 'resultsPerPage': 5},
 'items': [{'kind': 'youtube#channel',
   'etag': 'KrcgIPPAWBc1QGKsVmLhVeOHQ0g',
   'id': 'UC5EQWvy59VeHPJz8mDALPxg',
   'snippet': {'title': 'Mic Set',
    'description': 'Micset is a full-service content creation company that believes in the power of humor which is the magic ingredient to our creations. We create content to tap the hearts and minds of every audience across the globe. Reviving your Life with a Smile in our own Style!\nFor any business enquiries please contact - officialmicset@gmail.com & info@divo.in \n\n**********************\n\nOur Digital Partner - Divo\nDivo is one of the leading digital media companies in South India working with brands and content creators across genres.\n\n\n',
    'customUrl': '@micset_official',
    'publishedAt': '2017-07-05T18:24:42Z',
    'thumbnails': {'default': {'url': 'https://yt3.ggpht.com/ytc/AIf8zZQRqANqIn2h1pI77jk9dB_eTlab4peZ-jZQBKHAag=s88-c-k-c0x00ffffff-no-rj',
      'width': 88,
      'height': 88},
     'medium': {'url': 'https://yt3.ggpht.com/ytc/AIf8zZQRqANqIn2h1pI77jk9dB_eTlab4peZ-jZQBKHAag=s240-c-k-c0x00ffffff-no-rj',
      'width': 240,
      'height': 240},
     'high': {'url': 'https://yt3.ggpht.com/ytc/AIf8zZQRqANqIn2h1pI77jk9dB_eTlab4peZ-jZQBKHAag=s800-c-k-c0x00ffffff-no-rj',
      'width': 800,
      'height': 800}},
    'localized': {'title': 'Mic Set',
     'description': 'Micset is a full-service content creation company that believes in the power of humor which is the magic ingredient to our creations. We create content to tap the hearts and minds of every audience across the globe. Reviving your Life with a Smile in our own Style!\nFor any business enquiries please contact - officialmicset@gmail.com & info@divo.in \n\n**********************\n\nOur Digital Partner - Divo\nDivo is one of the leading digital media companies in South India working with brands and content creators across genres.\n\n\n'},
    'country': 'IN'},
   'contentDetails': {'relatedPlaylists': {'likes': '',
     'uploads': 'UU5EQWvy59VeHPJz8mDALPxg'}},
   'statistics': {'viewCount': '616892326',
    'subscriberCount': '8070000',
    'hiddenSubscriberCount': False,
    'videoCount': '166'}}]}